apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-management-orchestrator
  namespace: openshift-marketplace
spec:
  displayName: CP4MCM Installer Catalog
  publisher: IBM CP4MCM
  sourceType: grpc
  image: quay.io/cp4mcm/cp4mcm-orchestrator-catalog:2.1.5-stable
  secrets:
    - ibm-management-pull-secret
%{ if openshift_version_number >= 4.4 ~}
  updateStrategy:
    registryPoll:
      interval: 45m
%{~ endif ~}
