apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: c-db2ucluster-etcd
  namespace: ${db2ProjectName}
spec:
  serviceName: db2ucluster
  replicas: 3
  selector:
    matchLabels:
      app: db2ucluster
  template:
    metadata:
      labels:
        app: db2ucluster
    spec:
      terminationGracePeriodSeconds: 10
  volumeClaimTemplates:
    - metadata:
        name: etcd
      spec:
        accessModes:
          - ReadWriteMany
        storageClassName: ${db2OnOcpStorageClassName}
        resources:
          requests:
            storage: 10Gi