apiVersion: db2u.databases.ibm.com/v1
kind: Db2uCluster
metadata:
  name: db2ucluster
  namespace: ${db2ProjectName}
spec:
  license:
    value: ${db2License}
    accept: true
  account:
    privileged: true
    imagePullSecrets:
      - ibm-db2-registry
  version: ${db2InstanceVersion}
  size: 1
  podConfig:
    db2u:
      resource:
        db2u:
          requests:
            cpu: ${db2Cpu}
            memory: ${db2Memory}
          limits:
            cpu: ${db2Cpu}
            memory: ${db2Memory}
  environment:
    dbType: db2oltp
    database:
      name: ${db2_name}
    instance:
      password: ${db2AdminUserPassword}
      registry:
        DB2_4K_DEVICE_SUPPORT: "ON"
  addOns:
    rest:
      enabled: false
    graph:
      enabled: false
  storage:
    - name: meta
      type: "create"
      spec:
        storageClassName: ${db2OnOcpStorageClassName}
        accessModes:
          - ReadWriteMany
        resources:
          requests:
            storage: ${db2StorageSize}
    - name: data
      type: "create"
      spec:
        storageClassName: ${db2OnOcpStorageClassName}
        accessModes:
          - ReadWriteMany
        resources:
          requests:
            storage: ${db2StorageSize}
