apiVersion: ocs.ibm.io/v1
kind: OcsCluster
metadata:
  name: ocscluster-vpc
spec:
  osdStorageClassName: ${ osdStorageClassName }
  osdSize: "${ osdSize }"
  numOfOsd: ${ numOfOsd }
  billingType: ${ billingType }
  ocsUpgrade: ${ ocsUpgrade }
  clusterEncryption: ${ clusterEncryption }