apiVersion: integration.ibm.com/v1beta1
kind: PlatformNavigator
metadata:
    name: cp4i-navigator
    namespace: ${ namespace }
spec:
    license:
        accept: true
        license: L-RJON-C7QG3S
    mqDashboard: true
    replicas: 1
    storage:
        class: ${ storageclass }
    version: 2021.4.1
